:root {
    --bs-primary: #4c89af;
    --bs-primary-rgb: 76, 137, 175;
    --bs-primary-dark: #1f5f87;
    --bs-primary-dark-rgb: 31, 95, 135;
}

#overall-progress-container {
    display: flex; 
    align-items: center; 
    margin: 0 20px; 
}
#overall-progress-bar {
    transition: width 0.5s ease-in-out;
}

/* Manually ensure components use the updated color */
.btn-primary {
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
}
.btn-primary:hover {
    background-color: rgba(var(--bs-primary-rgb), 0.85) !important;
    border-color: rgba(var(--bs-primary-rgb), 0.85) !important;
}
.text-primary {
    color: var(--bs-primary) !important;
}
.text-primary-dark {
    color: var(--bs-primary-dark) !important;
}

.fill { 
    min-height: 100vh;
    height: 100%;
}

.pending-badge { 
    background-color: gray; 
}
.running-badge { 
    background-color: var(--bs-primary); 
}
.completed-badge { 
    background-color: green; 
}

.progress-container-slim { 
    height: 14px;
    font-size: 9px; 
}

.task-progress-bar { 
    background-color: var(--bs-primary);
}
.task-progress-bar-success { 
    background-color: green; 
}
.task-progress-bar-error { 
    background-color: red; 
}

.workflow-progress-bar { 
    background-color: var(--bs-primary-dark);
}
.workflow-progress-bar-success { 
    background-color: green; 
}
.workflow-progress-bar-error { 
    background-color: red; 
}