<div class="container-fluid">
    <!-- Navbar Brand -->
    <a class="navbar-brand" href="/">Inventory</a>
    
    <!-- Toggle button for responsive navbar -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link text-primary" href="{% url 'list_all_tasks' %}">List Tasks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-primary" href="{% url 'trigger_workflows' %}">Start Workflows</a>
            </li>
        </ul>
    </div>
</div>